<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>天天美食</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" ref="assets/css/main.css" type="text/css" media="print" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			function printOrder() {
				   var divToPrint=document.getElementById("printOrder");
				   var htmlToPrint = '' +
			        '<style type="text/css">' +
			        'table {' +
			        'border-collapse: collapse;' +
			        '}' +
			        'table, th, td {' +
			        'border: 1px solid black;' +
			        'padding: 0.5 rem' +
			        '}' +
			        '</style>';
			       htmlToPrint += divToPrint.outerHTML;
				   newWin= window.open("");
				   newWin.document.write(htmlToPrint);
				   newWin.print();
				   newWin.close();
			}
		</script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>天天美食</h1>
								<p>控制台</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#printOrder">查看订单</a></li>
								<li><a href="#update_menu">更新菜单</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Start -->
							<article id="printOrder" class="printable-article">
								<h2 class="major">今日订单</h2>
								<h2> For <%= tomorrowDate %> </h2>
								<section>
									<div class="printable-table-wrapper">
										<table class="alt" id="orderTable">
											<thread>
												<tr>
											  		<% for(var k=0; k<fields1.length; k++) { %>
														<td><%=fields1[k].name %></td>
													<% } %>
												</tr>
											</thread>
											<tbody>
											  <% for(var i=0; i<rows1.length; i++) { %>
											  	<tr>
											  		<% for(var j=0; j<fields1.length; j++) { %>
														<td><%=rows1[i][fields1[j].name] %></td>
													<% } %>
												</tr>
											  <% } %>
											</tbody>
										</table>
									</div>
									<button onclick="printOrder()">打印订单</button>
								</section>
							</article>

						<!-- Contact -->
							<article id="update_menu">
								<section>
									<h2 class="major">更改菜单</h2>
									<form method="post" action="http://tiantianmeishidelicious.com/updateMenu">
										<h3 class="major">主菜</h3>
										<% for(var dishName in dishes) { %>
											<div class="field first">
												<input type="checkbox" id=<%=dishName%> name=<%=dishName%>>
												<label for=<%=dishName%>><%=dishName%> <%=dishes[dishName].price%></label>
											</div>
										<% } %>
										<h3 class="major">配菜</h3>
										<% for(var starterName in starters) { %>
											<div class="field first">
												<input type="checkbox" id=<%=starterName%> name=<%=starterName%>>
												<label for=<%=starterName%>><%=starterName%> <%=starters[starterName].price%></label>
											</div>
										<% } %>
										<h3 class="major">小凉菜</h3>
										<% for(var sideName in sides) { %>
											<div class="field first">
												<input type="checkbox" id=<%=sideName%> name=<%=sideName%>>
												<label for=<%=sideName%>><%=sideName%> <%=sides[sideName].price%></label>
											</div>
										<% } %>
										
										<ul class="actions">
											<li><input type="submit" value="更新菜单" class="special" /></li>
											<li><input type="reset" value="清空" /></li>
										</ul>
										
									</form>
								</section>

							</article>

						<!-- Contact -->
							<article id="confirm">
								<h2 class="major">确认订单</h2>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>选项</th>
													<th>明细</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>姓名</td>
													<td id="confirm_name"></td>
												</tr>
												<tr>
													<td>电话</td>
													<td id="confirm_phone"></td>
													
												</tr>
												<tr>
													<td>取餐地点</td>
													<td id="confirm_pickup_location"></td>
													
												</tr>
												<tr>
													<td>备注</td>
													<td id="confirm_note"></td>
													
												</tr>
												<tr>
													<td id="confirm_selected_dish"></td>
													<td id="confirm_selected_dish_price"></td>
													
												</tr>
												<tr>
													<td id="confirm_selected_starter"></td>
													<td id="confirm_selected_starter_price"></td>
												</tr>
												<tr>
													<td>Tax</td>
													<td id="confirm_tax"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td>Total</td>
													<td id="confirm_total"></td>
												</tr>
											</tfoot>
										</table>
									</div>

									  <form  id="submissionButton" action="https://demo.globalgatewaye4.firstdata.com/payment" method="post"> 

								          <input id="submission_login" name="x_login" value="" type="hidden"> 

								          <input id="submission_amount" name="x_amount" value="" type="hidden"> 

								          <input id="submission_sequence" name="x_fp_sequence" value="" type="hidden"> 

								          <input id="submission_timestamp" name="x_fp_timestamp" value="" type="hidden"> 

								          <input id="submission_currency" name="x_currency_code" value="" type="hidden"> 

								          <input id="submission_hash" name="x_fp_hash" value="" type="hidden"> 

								          <input id="submission_show_form" name="x_show_form" value="" type="hidden">

								          <input id="submission_button" class="button special" value="在线付款" type="submit"> 

								          <input name="enable_level3_processing" type="hidden" value="TRUE" />

								          <input id="submission_nickname" name="x_cust_id" type="hidden" value="" />

								          <input id="submission_pickup_location" name="x_ship_to_address" type="hidden" value="" />
								          
								          <input id="submission_phone" name="x_phone" type="hidden" value="" />

								          <input id="submission_description" name="x_description" type="hidden" value="" />

								          <input id="submission_note" name="x_note" type="hidden" value="" />
								      </form>
<!-- 								<ul class="icons">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul> -->
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
							
						<ul id="contact" class="icons"> 
				            <li><i class="fa fa-phone"></i> +01 (425) 429 8975</li>
				            <li><i class="fa fa-weixin"></i> ttms99999</li>
				            
						</ul>
							
						<p class="copyright">&copy; Tiantian Gourmet. All rights reserved </p>
						<p class="copyright"><a href="/images/taotao-wechat-qr.jpg">@Author</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
